/*/venv
shape_predictor_68_face_landmarks.dat
*.pt
*.pkl
ffmpeg.exe
bair-cpk.pth.tar
fashion.pth.tar
mgif-cpk.pth.tar
nemo-cpk.pth.tar
taichi-adv-cpk.pth.tar
taichi-cpk.pth.tar
vox-adv-cpk.pth.tar
vox-cpk.pth.tar
/*/*/static

.vscode/**