/*/venv
shape_predictor_68_face_landmarks.dat
karras2019stylegan-ffhq-1024x1024.pt
karras2019stylegan-ffhq-1024x1024_d.pt
karras2019stylegan-ffhq-1024x1024.pkl
stylegan2-ffhq-config-f.pkl
ffmpeg.exe
bair-cpk.pth.tar
fashion.pth.tar
mgif-cpk.pth.tar
nemo-cpk.pth.tar
taichi-adv-cpk.pth.tar
taichi-cpk.pth.tar
vox-adv-cpk.pth.tar
vox-cpk.pth.tar
/*/*/static

# API_for_Linux
API_for_Linux/image_2_style_gan/__pycache__
API_for_Linux/image_animator/__pycache__
API_for_Linux/image_animator/modules/__pycache__
API_for_Linux/image_animator/sync_batchnorm/__pycache